In [1]:
print("Data Preprocessing")

Data Preprocessing

In [2]:
import pandas as pd

# Read Data

In [11]:
data = pd.read_csv("pune.csv")

In [10]:
data.columns
data.head()

,date_time,maxtempC,mintempC,totalSnow_cm,sunHour,uvIndex,moon_illumination,moonrise,moonset,sunrise,...,WindGustKmph,cloudcover,humidity,precipMM,pressure,tempC,visibility,winddirDegree,windspeedKmph,location
0,2008-12-11 00:00:00,30,18,0.0,11.0,6,93,04:33 PM,05:13 AM,06:57 AM,...,10,31,72,0.0,1013,18,10,114,5,pune
1,2008-12-11 01:00:00,30,18,0.0,11.0,6,93,04:33 PM,05:13 AM,06:57 AM,...,9,30,72,0.0,1013,19,10,125,4,pune
2,2008-12-11 02:00:00,30,18,0.0,11.0,6,93,04:33 PM,05:13 AM,06:57 AM,...,8,29,72,0.0,1013,18,10,136,4,pune
3,2008-12-11 03:00:00,30,18,0.0,11.0,6,93,04:33 PM,05:13 AM,06:57 AM,...,8,29,72,0.0,1013,18,10,147,4,pune
4,2008-12-11 04:00:00,30,18,0.0,11.0,6,93,04:33 PM,05:13 AM,06:57 AM,...,7,23,68,0.0,1014,20,10,136,4,pune

In [12]:
data.columns

Index(['date_time', 'maxtempC', 'mintempC', 'totalSnow_cm', 'sunHour',
       'uvIndex', 'moon_illumination', 'moonrise', 'moonset', 'sunrise',
       'sunset', 'DewPointC', 'FeelsLikeC', 'HeatIndexC', 'WindChillC',
       'WindGustKmph', 'cloudcover', 'humidity', 'precipMM', 'pressure',
       'tempC', 'visibility', 'winddirDegree', 'windspeedKmph', 'location'],
      dtype='object')

In [13]:
selected_columns = ['date_time', 'uvIndex', 'DewPointC', 'HeatIndexC', 'cloudcover', 'humidity','precipMM','pressure','tempC','visibility','windspeedKmph']
new_pune = data[selected_columns]

new_pune.to_csv('new_pune_data.csv', index=False)

new_pune.head()

,date_time,uvIndex,DewPointC,HeatIndexC,cloudcover,humidity,precipMM,pressure,tempC,visibility,windspeedKmph
0,2008-12-11 00:00:00,6,13,18,31,72,0.0,1013,18,10,5
1,2008-12-11 01:00:00,6,14,19,30,72,0.0,1013,19,10,4
2,2008-12-11 02:00:00,6,13,18,29,72,0.0,1013,18,10,4
3,2008-12-11 03:00:00,6,13,18,29,72,0.0,1013,18,10,4
4,2008-12-11 04:00:00,6,13,20,23,68,0.0,1014,20,10,4

# Data Preprocessing

In [14]:
data = pd.read_csv("new_pune_data.csv");

In [15]:
data.head()

,date_time,uvIndex,DewPointC,HeatIndexC,cloudcover,humidity,precipMM,pressure,tempC,visibility,windspeedKmph
0,2008-12-11 00:00:00,6,13,18,31,72,0.0,1013,18,10,5
1,2008-12-11 01:00:00,6,14,19,30,72,0.0,1013,19,10,4
2,2008-12-11 02:00:00,6,13,18,29,72,0.0,1013,18,10,4
3,2008-12-11 03:00:00,6,13,18,29,72,0.0,1013,18,10,4
4,2008-12-11 04:00:00,6,13,20,23,68,0.0,1014,20,10,4

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 116136 entries, 0 to 116135
Data columns (total 11 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   date_time      116136 non-null  object
 1   uvIndex        116136 non-null  int64
 2   DewPointC      116136 non-null  int64
 3   HeatIndexC     116136 non-null  int64
 4   cloudcover     116136 non-null  int64
 5   humidity       116136 non-null  int64
 6   precipMM       116136 non-null  float64
 7   pressure       116136 non-null  int64
 8   tempC          116136 non-null  int64
 9   visibility     116136 non-null  int64
 10  windspeedKmph  116136 non-null  int64
dtypes: float64(1), int64(9), object(1)
memory usage: 9.7+ MB

In [24]:
data.describe()

,uvIndex,DewPointC,HeatIndexC,cloudcover,humidity,precipMM,pressure,tempC,visibility,windspeedKmph
count,116136.000000,116136.000000,116136.000000,116136.00000,116136.000000,116136.000000,116136.000000,116136.000000,116136.000000,116136.000000
mean,6.208927,15.141722,26.364383,31.43028,57.646001,0.231727,1009.731522,25.304720,9.409899,9.397663
std,0.921580,6.093959,4.355228,34.09457,25.316012,0.802657,3.580792,4.659629,1.593393,4.775019
min,4.000000,-12.000000,11.000000,0.00000,4.000000,0.000000,997.000000,11.000000,0.000000,0.000000
25%,5.000000,10.000000,25.000000,3.00000,36.000000,0.000000,1007.000000,22.000000,10.000000,6.000000
50%,6.000000,16.000000,26.000000,12.00000,58.000000,0.000000,1010.000000,24.000000,10.000000,9.000000
75%,7.000000,21.000000,29.000000,66.00000,82.000000,0.100000,1012.000000,28.000000,10.000000,12.000000
max,8.000000,25.000000,44.000000,100.00000,100.000000,25.700000,1021.000000,43.000000,10.000000,40.000000

In [19]:
data['uvIndex'].unique()    # array([6, 7, 8, 5, 4], dtype=int64)

array([6, 7, 8, 5, 4], dtype=int64)

In [20]:
data['DewPointC'].unique()

array([ 13,  14,  15,  16,  17,  11,  12,  10,   9,   8,   7,   6,   5,
         4,   2,   3,   1,   0,  -2,  -3,  -1,  18,  19,  20,  21,  22,
        23,  24,  25,  -4,  -7,  -6,  -8,  -5,  -9, -10, -11, -12],
      dtype=int64)

In [21]:
data['HeatIndexC'].unique()

array([18, 19, 20, 24, 25, 26, 28, 29, 30, 27, 21, 31, 17, 16, 15, 23, 32,
       33, 22, 34, 35, 37, 36, 38, 39, 40, 42, 41, 44, 43, 14, 13, 12, 11],
      dtype=int64)

In [22]:
data['cloudcover'].unique()

array([ 31,  30,  29,  23,  16,  10,   9,   8,  12,  14,  18,  20,  25,
        37,  40,  43,  47,  38,  17,  13,   7,  15,  11,  24,  32,  39,
        34,  22,  19,   6,   5,   4,   3,   2,   1,   0,  42,  59,  76,
        68,  61,  53,  50,  44,  46,  58,  56,  54,  52,  36,  72,  28,
        26,  27,  21,  45,  35,  41,  48,  49,  33,  51,  70,  89,  83,
        77,  71,  67,  62,  75,  87,  86,  82,  85,  88,  57,  79,  60,
        63,  55,  73,  81,  78,  84,  69,  74,  80,  64,  66,  65,  99,
       100,  93,  95,  98,  96,  92,  90,  91,  97,  94], dtype=int64)

In [23]:
data['humidity'].unique()

array([ 72,  68,  64,  59,  51,  42,  33,  32,  30,  29,  35,  41,  47,
        53,  66,  67,  70,  71,  69,  58,  50,  40,  38,  36,  43,  57,
        60,  61,  62,  65,  52,  45,  34,  37,  46,  55,  63,  56,  31,
        28,  49,  54,  39,  44,  48,  24,  27,  25,  22,  23,  26,  20,
        18,  21,  16,  15,  13,  12,  19,  14,  11,  10,  17,  73,  76,
        79,  83,  74,  75,  77,  78,   9,   8,  80,  82,  85,  86,  87,
        88,  84,  89,  81,  90,  91,  92,  93,  95,  96,  94,  97,  98,
        99, 100,   7,   6,   5,   4], dtype=int64)

In [26]:
data['precipMM'].unique()

array([ 0. ,  0.2,  0.5,  0.4,  0.3,  1.3,  1.8,  1. ,  0.7,  0.8,  0.1,
        1.1,  1.4,  6.6,  8.8,  4.4,  0.9,  0.6,  1.5,  1.6,  5.5,  1.9,
        2.1,  3.1,  4.2,  3. ,  3.2,  3.3,  1.2,  3.4,  2.6,  2.7,  7.8,
        1.7,  4.3,  6.4, 12.5,  9.6, 10.6, 14.1,  2. ,  2.9,  2.3,  2.8,
        3.6,  5. ,  2.4,  3.8,  2.5,  3.5,  2.2,  6.2,  8. , 10.5,  5.4,
        7. ,  3.7,  4.6,  6.8,  9. ,  4.7,  4.1,  5.2,  4.5,  6.5,  8.6,
        3.9, 12. , 18.8, 22.3, 13.4,  9.3,  7.5, 10. , 12.1,  9.1,  9.7,
        4.9,  5.6,  6.1,  6. ,  4. ,  4.8,  5.1,  8.7, 11.3,  5.3,  7.1,
        9.9, 12.6, 10.3,  8.2,  9.2,  7.9,  5.8,  7.6,  5.7,  7.4,  9.4,
       13.5,  6.3,  5.9,  6.7,  6.9,  8.1, 15.7, 14. ,  9.8,  8.9, 15.8,
        7.3,  7.2, 10.2, 11.8, 14.8, 13.7, 10.7, 11.6,  9.5,  8.3, 10.9,
       18.7, 22.7, 24.5, 10.1, 11. , 12.4, 11.1,  7.7,  8.5, 12.3, 16.8,
       18. , 21.5, 22.9, 23.8, 24.7, 20. , 14.5, 21.9, 21. , 14.7, 10.8,
       11.2, 17.8, 11.5, 17. , 10.4, 15.2, 21.8, 25.5, 25.3, 25.7, 24.3,
       18.6, 13.2, 12.9, 12.2])

In [27]:
data['pressure'].unique()

array([1013, 1014, 1012, 1011, 1010, 1015, 1016, 1017, 1018, 1019, 1020,
       1009, 1008, 1007, 1006, 1005, 1004, 1003, 1002, 1001, 1000,  999,
        998, 1021,  997], dtype=int64)

In [28]:
data['tempC'].unique()

array([18, 19, 20, 21, 23, 24, 28, 29, 30, 27, 26, 22, 25, 17, 31, 32, 16,
       15, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 14, 13, 12, 43, 11],
      dtype=int64)

In [30]:
data['visibility'].unique()

array([10,  8,  7,  5,  6,  9,  2,  4,  3,  0,  1], dtype=int64)

In [33]:
data['windspeedKmph'].unique()

array([ 5,  4,  6,  7,  8,  3,  2,  9, 10, 11, 12, 16, 13, 14,  0,  1, 15,
       17, 18, 19, 20, 21, 22, 23, 24, 26, 25, 28, 27, 30, 29, 31, 32, 35,
       39, 38, 33, 34, 37, 40, 36], dtype=int64)

In [25]:
data.describe()

,uvIndex,DewPointC,HeatIndexC,cloudcover,humidity,precipMM,pressure,tempC,visibility,windspeedKmph
count,116136.000000,116136.000000,116136.000000,116136.00000,116136.000000,116136.000000,116136.000000,116136.000000,116136.000000,116136.000000
mean,6.208927,15.141722,26.364383,31.43028,57.646001,0.231727,1009.731522,25.304720,9.409899,9.397663
std,0.921580,6.093959,4.355228,34.09457,25.316012,0.802657,3.580792,4.659629,1.593393,4.775019
min,4.000000,-12.000000,11.000000,0.00000,4.000000,0.000000,997.000000,11.000000,0.000000,0.000000
25%,5.000000,10.000000,25.000000,3.00000,36.000000,0.000000,1007.000000,22.000000,10.000000,6.000000
50%,6.000000,16.000000,26.000000,12.00000,58.000000,0.000000,1010.000000,24.000000,10.000000,9.000000
75%,7.000000,21.000000,29.000000,66.00000,82.000000,0.100000,1012.000000,28.000000,10.000000,12.000000
max,8.000000,25.000000,44.000000,100.00000,100.000000,25.700000,1021.000000,43.000000,10.000000,40.000000

# No NULL Values

In [34]:
data.isna().sum()

date_time        0
uvIndex          0
DewPointC        0
HeatIndexC       0
cloudcover       0
humidity         0
precipMM         0
pressure         0
tempC            0
visibility       0
windspeedKmph    0
dtype: int64

In [35]:
data.columns

Index(['date_time', 'uvIndex', 'DewPointC', 'HeatIndexC', 'cloudcover',
       'humidity', 'precipMM', 'pressure', 'tempC', 'visibility',
       'windspeedKmph'],
      dtype='object')