In [1]:
print("Data Preprocessing")

Data Preprocessing

In [2]:
import pandas as pd

In [11]:
data = pd.read_csv("pune.csv")

In [10]:
data.columns
data.head()

,date_time,maxtempC,mintempC,totalSnow_cm,sunHour,uvIndex,moon_illumination,moonrise,moonset,sunrise,...,WindGustKmph,cloudcover,humidity,precipMM,pressure,tempC,visibility,winddirDegree,windspeedKmph,location
0,2008-12-11 00:00:00,30,18,0.0,11.0,6,93,04:33 PM,05:13 AM,06:57 AM,...,10,31,72,0.0,1013,18,10,114,5,pune
1,2008-12-11 01:00:00,30,18,0.0,11.0,6,93,04:33 PM,05:13 AM,06:57 AM,...,9,30,72,0.0,1013,19,10,125,4,pune
2,2008-12-11 02:00:00,30,18,0.0,11.0,6,93,04:33 PM,05:13 AM,06:57 AM,...,8,29,72,0.0,1013,18,10,136,4,pune
3,2008-12-11 03:00:00,30,18,0.0,11.0,6,93,04:33 PM,05:13 AM,06:57 AM,...,8,29,72,0.0,1013,18,10,147,4,pune
4,2008-12-11 04:00:00,30,18,0.0,11.0,6,93,04:33 PM,05:13 AM,06:57 AM,...,7,23,68,0.0,1014,20,10,136,4,pune

In [12]:
data.columns

Index(['date_time', 'maxtempC', 'mintempC', 'totalSnow_cm', 'sunHour',
       'uvIndex', 'moon_illumination', 'moonrise', 'moonset', 'sunrise',
       'sunset', 'DewPointC', 'FeelsLikeC', 'HeatIndexC', 'WindChillC',
       'WindGustKmph', 'cloudcover', 'humidity', 'precipMM', 'pressure',
       'tempC', 'visibility', 'winddirDegree', 'windspeedKmph', 'location'],
      dtype='object')

In [13]:
selected_columns = ['date_time', 'uvIndex', 'DewPointC', 'HeatIndexC', 'cloudcover', 'humidity','precipMM','pressure','tempC','visibility','windspeedKmph']
new_pune = data[selected_columns]

new_pune.to_csv('new_pune_data.csv', index=False)

new_pune.head()

,date_time,uvIndex,DewPointC,HeatIndexC,cloudcover,humidity,precipMM,pressure,tempC,visibility,windspeedKmph
0,2008-12-11 00:00:00,6,13,18,31,72,0.0,1013,18,10,5
1,2008-12-11 01:00:00,6,14,19,30,72,0.0,1013,19,10,4
2,2008-12-11 02:00:00,6,13,18,29,72,0.0,1013,18,10,4
3,2008-12-11 03:00:00,6,13,18,29,72,0.0,1013,18,10,4
4,2008-12-11 04:00:00,6,13,20,23,68,0.0,1014,20,10,4

# Data Preprocessing

In [14]:
data = pd.read_csv("new_pune_data.csv");

In [15]:
data.head()

,date_time,uvIndex,DewPointC,HeatIndexC,cloudcover,humidity,precipMM,pressure,tempC,visibility,windspeedKmph
0,2008-12-11 00:00:00,6,13,18,31,72,0.0,1013,18,10,5
1,2008-12-11 01:00:00,6,14,19,30,72,0.0,1013,19,10,4
2,2008-12-11 02:00:00,6,13,18,29,72,0.0,1013,18,10,4
3,2008-12-11 03:00:00,6,13,18,29,72,0.0,1013,18,10,4
4,2008-12-11 04:00:00,6,13,20,23,68,0.0,1014,20,10,4

In [16]:
data.describe()

,uvIndex,DewPointC,HeatIndexC,cloudcover,humidity,precipMM,pressure,tempC,visibility,windspeedKmph
count,116136.000000,116136.000000,116136.000000,116136.00000,116136.000000,116136.000000,116136.000000,116136.000000,116136.000000,116136.000000
mean,6.208927,15.141722,26.364383,31.43028,57.646001,0.231727,1009.731522,25.304720,9.409899,9.397663
std,0.921580,6.093959,4.355228,34.09457,25.316012,0.802657,3.580792,4.659629,1.593393,4.775019
min,4.000000,-12.000000,11.000000,0.00000,4.000000,0.000000,997.000000,11.000000,0.000000,0.000000
25%,5.000000,10.000000,25.000000,3.00000,36.000000,0.000000,1007.000000,22.000000,10.000000,6.000000
50%,6.000000,16.000000,26.000000,12.00000,58.000000,0.000000,1010.000000,24.000000,10.000000,9.000000
75%,7.000000,21.000000,29.000000,66.00000,82.000000,0.100000,1012.000000,28.000000,10.000000,12.000000
max,8.000000,25.000000,44.000000,100.00000,100.000000,25.700000,1021.000000,43.000000,10.000000,40.000000