In [9]:
print("Add Data")

Add Data

In [10]:
import pandas as pd

In [11]:
data = pd.read_csv("new_pune_data.csv");

In [12]:
data.head()

,date_time,uvIndex,DewPointC,HeatIndexC,cloudcover,humidity,precipMM,pressure,tempC,visibility,windspeedKmph,Heat Stroke
0,11-12-2008 00:00,6,13,18,31,72,0.0,1013,18,10,5,NaN
1,11-12-2008 01:00,6,14,19,30,72,0.0,1013,19,10,4,NaN
2,11-12-2008 02:00,6,13,18,29,72,0.0,1013,18,10,4,NaN
3,11-12-2008 03:00,6,13,18,29,72,0.0,1013,18,10,4,NaN
4,11-12-2008 04:00,6,13,20,23,68,0.0,1014,20,10,4,NaN

In [13]:
data.columns

Index(['date_time', 'uvIndex', 'DewPointC', 'HeatIndexC', 'cloudcover',
       'humidity', 'precipMM', 'pressure', 'tempC', 'visibility',
       'windspeedKmph', 'Heat Stroke'],
      dtype='object')

# Disease 1 : Heat Stroke

uvIndex:   UV >= 7

DewPointC:  Temperature >= 18(°C)  

HeatIndexC:  Temperature >= 32 (°C)

cloudcover: Cloud Cover (%)

humidity: Humidity >= 60(%)

precipMM: Precipitation  0 (mm)

pressure: Atmospheric Pressure (millibars)

tempC:  temp > = 40(°C)

visibility: Visibility (kilometers)

windspeedKmph: Wind Speed (kilometers per hour)